:root {
    --screen-height: 100vh;
    --head-height: 100vh;
    --nav-height: 2vh;
    --button-color: rgba(0, 0, 0, 0.7);
    --hover-highlight: rgba(54, 54, 54, 0.6);
    --sky-color: #1f4673;
    --party-image: url('/img/concept_01_party.png');
    --combat-image: url('/img/concept_02_combat.png');
    --tower-image: url('/img/concept_03_environment.png');
    --mine-image: url('/img/concept_02_environment.png');
}

html {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Overlock', cursive; */
        font-family: 'Montserrat', sans-serif;
        font-weight: 300 !important;
    /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    /* background: #0F2027;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  */
/* background: linear-gradient(to bottom, #2C5364, #1b2e34, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #000000;
    scroll-behavior: smooth;
    scrollbar-color: #347101 black;
    scrollbar-width: thin;
    overflow-x: hidden;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  /* Height of header */
  margin-top: calc( 0 - var(--nav-height));
}

/* parallax element */
.plx {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}

.hero-image {
    width: inherit;
}

.lowercase {
    text-transform: none !important; 
}

.left-border-image {
    margin-left: 2.3vw;
    z-index: 1;
    pointer-events: none;
    max-width: 100%;
    width: 4.5vw;
    height: auto;
}

.right-border-image {
    margin-left: 90.4vw;
    z-index: 1;
    pointer-events: none;
    max-width: 100%;
    width: 3vw;
    height: auto;
}

.top-border-image {
    z-index: 1;
    pointer-events: none;
    /* max-height: 100%;
    width: 100%; */
    margin-top: 2vh;
}

.bottom-border-image {
    z-index: 1;
    pointer-events: none;
    /* max-height: 100%;
    width: 100%; */
    margin-top: 2vh;
}

b {
    font-weight: 700 !important;
}

h4 {
    font-weight: bold;
}

.sky {
    background-image:               linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(107,106,106,1) 0%, rgba(228,181,202,1) 13%, rgba(236,170,164,1) 35%, rgba(216,167,197,1) 53%, rgba(78,119,167,1) 78%, rgba(37,78,125,1) 89%, rgba(23,60,102,1) 100%) !important;
    background-repeat:              no-repeat;
    background-position:            center top;
    background-size:                100vw var(--screen-height);
    background-attachment:          fixed;

}

.full-screen {
    height: var(--screen-height);
}

.half-screen {
    height: calc(var(--screen-height)/2);
}

.full-width {
    width: 100%;
}

.page-footer {
    margin-top: 35vh;
}

.buffer {
    height: 80vh;
    z-index: 1
}

.fade-on-appear {
    opacity: var(--opacity);
    will-change: opacity;
}



.fade-in-hero {
    background-image:
    /* fade back    */  linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 80%, rgba(0,0,0,0) 96%, rgba(0,0,0,0) 100%);
    background-repeat:
                /* fade back    */  no-repeat;
    background-position:
                /* fade to black */ center 0;
}

.background-image {
    background-image:

                /* fade to black */ linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 36%, rgba(0,0,0,0) 100%),
                /* Mountains */     url('/img/mountains_1.png'),
                /* Moon */          url('/img/moon.png'),
                /* sky */           linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(107,106,106,1) 0%, rgba(228,181,202,1) 13%, rgba(236,170,164,1) 35%, rgba(216,167,197,1) 53%, rgba(78,119,167,1) 78%, rgba(37,78,125,1) 89%, rgba(23,60,102,1) 100%);
    background-repeat:
                /* fade to black */ no-repeat,
                /* Mountains */     no-repeat,
                /* Moon */          no-repeat,
                /* sky */           no-repeat;
    background-position:
                /* fade to black */ center 0,
                /* Mountains */     center 10vh,
                /* Moon */          center 10vh,
                /* sky */           center top;
    background-size:
                /* fade to black */ 100vw calc( var(--screen-height) + 25vh),
                /* Mountains */     auto calc( var(--screen-height) + 20vh),
                /* Moon */          300px,
                /* sky */           100vw var(--screen-height);
    background-attachment:
                /* fade to black */ local,
                /* Mountains */     local,
                /* Moon */          fixed,
                /* sky */           fixed;
}

.page-image {
    background-repeat:      no-repeat;
    background-position:    center top;
    background-size:        100vw auto;
    background-attachment:  fixed;
    height:                 100vh;
}

.page-image.party-image     { background-image: var(--party-image); }
.page-image.combat-image    { background-image: var(--combat-image); background-position:    center center; }
.page-image.mine-image      { background-image: var(--mine-image); }
.page-image.tower-image     { background-image: var(--tower-image); background-position:    center 90; }



.background-repeat {
    background-image:
                /* rock fade in */  linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0)),
                /* Lava           linear-gradient(180deg, rgba(245, 208, 32, 0) 0%, rgba(245, 208, 32, 0.5) 30%, rgba(245, 56, 2, 0.6) 54%, rgba(245, 56, 2, 0.8) 74%),*/
                /* rock pattern */  url('/img/rock_1.jpg');
    background-repeat:
                /* rock fade in */  no-repeat,
                /* Lava           no-repeat, */
                /* rock pattern */  repeat;
    background-position:
                /* rock fade in */  center var(--screen-height),
                /* Lava           bottom, */
                /* rock pattern */  center calc( var(--screen-height) + 25vh);
    background-size:
                /* rock fade in */  100vw calc( var(--screen-height) + 50vh),
                /* Lava           100vw 300vh,*/
                /* rock pattern */  auto auto;
    background-attachment:
                /* rock fade in */  local,
                /* Lava           local,*/
                /* rock pattern */  local;
}

.strike {
    text-decoration: line-through;
}

.hero-text {
    text-shadow: black 3px 3px 3px;
}

.hero-link {
    transform: rotate(-16deg);
    display: block;
    position: absolute;
    right: 20%;
    top: 62%;
    font-size: 2rem;
}

.brand-logo img {
    width: 200px;
}

.card .card-content {
    height: 13rem;
    overflow: hidden;
}

.vcenter-grid {
    transform: translateY(37%);
}

nav {
    background-color: #00000061 !important;
    height: var(--nav-height) !important;
}

nav ul a:hover {
    background-color: var(--hover-highlight);
}

/* Remove the forced height of the fixed navbar */
.navbar-fixed {
    height: inherit !important;
}
/* header {
    position: absolute;
} */

.z-depth-0 {
    box-shadow: inherit;
}



@media only screen and (min-width: 601px)
.row .col.m05 {
    width: 4.166666666665%;
    margin-left: auto;
    left: auto;
    right: auto;
}




.clear {
    background-color: rgba(0,0,0,0) !important;
}

.text-background {
    /* background-color: rgba(36, 36, 36, 0.8) !important; */
    background-color: rgba(72, 65, 55, 1) !important;
    padding: 1vh 2vw !important;
}

.no-wrap {
    white-space: nowrap;
}

.box-button {
    background-color: var(--button-color) !important;
    border: 2px solid white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    padding: 0.8rem 2rem 3rem 2rem;
    margin: 0;
}

.box-button:hover {
    background-color: var(--hover-highlight) !important;
}

.paragraph-text {
    font-size:      3vh !important;
    text-align:     justify;
    /* text-shadow:    black 3px 3px 3px; */
}

.hide-on-hover:hover {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    cursor: default;
}

.hide-on-hover {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

h1 {
    /* line-height: 130%; */
}

h3 {
    line-height: 155%;
}

.inherit-background {
    background-color: inherit !important;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 130%;
    }
    .box-button {
        padding: 0.1rem 2rem 2.5rem 2rem;
        font-size: 1rem;
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.text-focus-in {
    -webkit-animation:
        text-focus-in 1.2s cubic-bezier(.55,.085,.68,.53) both;
    animation:
        text-focus-in 1.2s cubic-bezier(.55,.085,.68,.53) both}

 /* ----------------------------------------------
  * Generated by Animista on 2020-8-22 22:32:5
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info.
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

@-webkit-keyframes text-focus-in
{
    0%
        {
            -webkit-filter:blur(12px);
            filter:blur(12px);
            opacity:0
        }
    100%
        {
            -webkit-filter:blur(0);
            filter:blur(0);
            opacity:1
        }
}

@keyframes text-focus-in
{
    0%
        {
            -webkit-filter:blur(12px);
            filter:blur(12px);
            opacity:0
        }
    100%
        {
            -webkit-filter:blur(0);
            filter:blur(0);
            opacity:1
        }
    }
