<footer class="page-footer clear">
    <div class="row">
        <div class="col s12">
            <h1 class="title white-text center">IRON GOBLIN</h1>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <span class="grey-text text-lighten-3">©  {{ site.time | date: "%Y" }} Iron Goblin</span>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
<script src="{{base}}/js/site.js"></script>


<!-- <script type="text/javascript">

    document.querySelector("body").onscroll = function myFunction() {
    var scrolltotop = document.scrollingElement.scrollTop;
    var target = document.querySelectorAll(".page-image");
    var xvalue = "center";
    var factor = 0.5;
    var yvalue = scrolltotop * factor;
    target.forEach( el => {
        el.style.backgroundPosition = xvalue + " " + yvalue + "px";
    })

  }
</script> -->
