<header>
    <div class="navbar-fixed">
        <nav class="z-depth-0">
            <div class="nav-wrapper">
                <a href="#home" class="brand-logo"><span><img src="img/logo_text_white_trans.png" alt=""> </span></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
