<header>
     <div class="navbar-fixed">
        <nav class="z-depth-0 clear">
            <div class="nav-wrapper">
                <a href="{{site.url}}#home" class="brand-logo"><span><img src="img/logo_text_white_trans.png" alt="Iron Goblin"> </span></a>                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#game">Game</a></li>
                    <li><a href="#studio">Studio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
